body {
    font-family: 'Roboto Condensed', sans-serif;   
    color:  #393939;
    margin: 0;
    padding: 0;
}
h2{
    position: relative;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

h2::after {    
    position: absolute;
    content: "";
    top: 60px;
    right: 50%;
    display: inline-block;
    width: 45px;
    height: auto;
    vertical-align: 0;  
    border-bottom: 1px solid #8d8d8d;
    transform: translateX(50%);
}

.header {
    background-image: url(../images/bgrHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-left: 260px;
}

.header__caption {
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: right;
    
}

.header__title{
    font-size: 52px;
    line-height: 58px; 
    margin-bottom: 20px;
    color: #f2f2f2;
}

.header__description{
    font-size: 36px;
    line-height: 36px; 
    color: #c3c3c3;
}

.aside {
    position: fixed;
    width: 260px;
    top: 0;
    bottom: 0;
    left: 0;    
    z-index: 100;   
    border-right: 1px solid #f1f1f1; 
}

.aside__content {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding: 44px 40px 20px 40px;   
}

.aside__logo{
    border: 5px solid #393939;
    border-radius: 50%;
    padding: 35px;
}

.aside__img{
    max-width: 90px;
} 

.aside__line {
    width: 115px;
    border-bottom: 1px solid #8d8d8d;
}

.aside__item{
    position: relative;
    padding-bottom: 25px;
    text-decoration: none;
    text-align: center;
}

.aside__link {    
    font-size: 16px;
    line-height: 32px;
    color: #8d8d8d;
    text-decoration: none;
    margin-bottom: 10px;
    transition: .3s;
}

.aside__link:hover {
    color: #393939;
    transition: .3s;
}

.aside__link::after {    
    position: absolute;
    content: "";
    top: 42px;
    right: 50%;
    display: inline-block;
    width: 15px;
    height: auto;
    vertical-align: 0;    
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #8d8d8d;
    transform: translateX(50%);
}

main {
    margin-left: 260px;
}

.aboutus{
    padding-top: 45px;
}

.aboutus__subtitle{
    position: relative;
    margin-top: 0;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.aboutus__subtitle::after {    
    position: absolute;
    content: "";
    top: 45px;
    right: 50%;
    display: inline-block;
    width: 45px;
    height: auto;
    vertical-align: 0;  
    border-bottom: 1px solid #8d8d8d;
    transform: translateX(50%);
}

.aboutus__item{
    margin-bottom: 60px;
}

.aboutus__education{
    margin: 0 auto 25px;
    max-width: 660px;
}

.aboutus__description{
    margin-right: 5px;
}

.aboutus__subitem{
    line-height: 28px;
}

.aboutus__languages{
    margin: 0 auto 25px;
    text-align: center;
}

.aboutus__skills{
    margin: 0 auto 25px;
    max-width: 660px;
}

.aboutus__skills .aboutus__subitem{    
    margin: 15px 0;
    list-style: none;
    line-height: inherit;
}

.aboutus__workExperiennce {
    text-align: center;
}

.aboutus__sublist{
    margin-bottom: 15px;
}
.mywork {
    background-color: #f2f2f2;
}

.mywork__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.mywork__item {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    height: 350px;
    position: relative;
    width: 45%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
}
  
.mywork__item:hover .mywork__hover {
    opacity: 1;
}
  
.mywork__subtitle {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 20px;
    margin: 0;
}
  
.mywork__hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
    padding: 25px;
    color: #fff;
    display: flex;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.mywork__hover:hover {
    color: #fff;
    text-decoration: none;
}

.mywork__hover a{
    z-index: 999;
}

.mywork__subtitle {
    border: 0;
    max-width: 80%;
    padding: 0;
}
  
.mywork__text {
    max-width: 80%;
    margin: 0;
} 
  
.mywork__text:before,
.mywork__text:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 50%;
    height: 2px;
    background-color: #fff;
}
  
.mywork__btn {
    padding: 0;
    border: none;
    color: #fff;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: transparent;
}
  
.mywork__hover:after {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border: 2px solid #feffff;
}

.footer {    
    margin-left: 260px;
    background-color: #494848;
    padding: 20px 0;
}

.footer__contacts {
    display: none;
}

@media screen and (max-width: 991px){
    .header,
    main,
    .footer {
        margin-left: 0px;
    }

    .aside {
        display: none;
    }

    .aboutus{
        margin-left: 10px;
        margin-right: 10px;
    }

    .mywork__item {
        width: 80%;
    }

    .footer__contacts {
        display: block;
    }

    .footer__item {
        position: relative;
        padding-bottom: 25px;
        text-decoration: none;
        text-align: center;
    }
    
    .footer__link {    
        font-size: 16px;
        line-height: 32px;
        color: #8d8d8d;
        text-decoration: none;
        margin-bottom: 10px;
        transition: .3s;
    }
    
    .footer__link:hover {
        color: #f2f2f2;
        transition: .3s;
    }
    
    .footer__link::after {    
        position: absolute;
        content: "";
        top: 42px;
        right: 50%;
        display: inline-block;
        width: 15px;
        height: auto;
        vertical-align: 0;    
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #8d8d8d;
        transform: translateX(50%);
    }
}
  
@media screen and (max-width: 576px){
    .header {
        height: 55vh;
    }

    .header__caption {        
        padding: 0px;
        top: 0;
        right: 0;
        left: 0;
        bottom: calc(100% - 55vh);
        text-align: right;
        background-color: rgba(0, 0, 0, 0.32);
    }

    .header__title {
        margin-top: 20px;
        margin-right: 20px;
    }
    .header__description {
        font-size: 32px;
        margin-right: 20px;
        color: #ffffff;
    }

    .aboutus__languages {
        text-align: left;
    }

    .aboutus__workExperiennce {
        text-align: left;
    }

    .mywork__item {
        height: 250px;
        margin: 15px auto;
    }

    .mywork__subtitle {
        font-size: 22px;    
    }

    .mywork__subtitle {
        max-width: 98%;
    }

    .mywork__text {
        max-width: 90%;
    }

    .mywork__btn {
        padding: 0;
        border: none;
        color: #fff;
        margin-bottom: 15px;
    }
}
  
  
  
  
  